/* RESET*/
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
img {
  max-width: 100%;
}

/* UTILS */
.container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.container.container-xs {
  max-width: 800px;
}
.row {
  display: flex;
}
.col-70 {
  width: 70%;
}
.col-60 {
  width: 60%;
}
.col-40 {
  width: 40%;
}
.col-30 {
  width: 30%;
}
.col-25 {
  width: 25%;
}
/* HEADER */
header {
  background-image: url(../img/jumbo.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.top-header {
  padding: 1rem 0;
}

.top-header .row * {
  width: calc(100% / 3);
  padding: 0.5rem;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none; /* Rimuove i pallini */
  display: flex; /* Alternativa migliore */
  align-items: center;
}

li {
  display: inline-block;
  margin: 0px 25px; /* Aggiunge spazio tra i link */
}
.logo-header {
  background-image: url(../img/logo.svg);
  background-repeat: no-repeat;
}
.top-header .login-header {
  text-align: end;
}
.primary-button {
  top: 50%;
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 100px;
  padding: 15px;
  min-height: 30px;
  min-width: 120px;
}
.secondary-button {
  top: 50%;
  background-color: #232328;
  color: #fff;
  border: none;
  border-radius: 100px;
  padding: 15px;
  min-height: 30px;
  min-width: 120px;
}
.bottom-header {
  padding: 75px 0;
  text-align: center;
  padding: 50px;
}
.bottom-header .hero {
  min-height: 350px;
  padding: 10px;
}
.titolo,
.paragrafo {
  padding: 20px 20px;
  color: white;
  line-height: 2em;
}

/* MAIN */
.page-content > section {
  padding: 50px 0;
}
section:nth-child(odd) {
  background-color: white;
}
section:nth-child(even) {
  background-color: lightgray;
}
.page-content .col-40 {
  min-height: 400px;
}

.page-content .col-60 {
  min-height: 400px;
}
.page-content .large-content {
  min-height: 600px;
}

.titolo-section {
  padding: 50px;
  font-size: 2.5em;
}
.paragrafo-section {
  font-size: 1em;
  line-height: 150%;
  text-align: center;
}
.titolo-grande {
  font-size: 3em;
  padding: 10px;
}
.paragrafo-grande {
  padding: 20px;
}
.titolo-grande,
.paragrafo-grande {
  text-align: center;
}

.ultima-section {
  text-align: center;
  background-image: url(../img/stars.svg);
  align-items: center;
  padding: 20px;
}
.utlimo-bottone {
  top: 50%;
  background-color: #4a4ce3;
  color: #ffffff;
  border: none;
  border-radius: 100px;
  padding: 10px;
  min-height: 30px;
  min-width: 120px;
}
/* FOOTER */
.page-footer {
  background-color: grey;
  color: white;
  padding-top: 0.5rem;
}
.page-footer .col-30 {
  color: #4a4ce3;
  font-size: 2em;
}
.page-footer .col-70 {
  color: #4a4ce3;
}
.page-footer .col-25 {
  padding: 10px 20px;
  text-align: center;
  line-height: 350%;
}
.page-footer .col-30,
.page-footer .col-70,
.page-footer .col-25 {
  min-height: 300px;
}
.footer-top {
  padding-bottom: 30px;
  border-bottom: 1px solid white;
  margin-bottom: 20px;
}
.footer-bottom {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.footer-bottom > * {
  color: black;
  padding: 0.5rem 1rem;
}
.lista-footer {
  display: flex;
  flex-direction: column;
}
.logo-footer {
  background-image: url(../img/logo.svg);
}
.footer-button {
  top: 50%;
  background-color: #4a4ce3;
  color: #ffffff;
  border: none;
  border-radius: 100px;
  padding: 10px;
  min-height: 30px;
  min-width: 120px;
  text-align: center;
}
